.header{
     padding: 0px, 15px;
     position: sticky;
     top: 0px;

}
.menubar{
     padding-right: 20px;
}
.header-middle-items{
     width: 100%;
}
.input-box{
     width:70%;
     padding: 0px 10px;
     position: relative;
     
}
input.search-box{
     width: 100%;
     height: 28px;
     position: relative; 
     border: 1px solid #607d8b80;
     margin: 0px 10px;
     padding: 10px 10px;
     border-radius: 20px;
}
.search-symbol{
     position: absolute;
     left: 1px;
}
.search-box{
     width: 40px;
     height: 28px;
     position: absolute;
     right: 1%;
     top: 0%;
     border-left: 1px solid #607d8b80;
}
img.dp{
     border-radius: 50%;
     height: 20px;
     width:20px;
     cursor:pointer;
}
.header-rightbar{
     padding-right: 20px;
}