.sidebar{
     display: flex;
     flex-wrap: wrap;
     height: auto;
     flex: 0.2;
     z-index: 100;
     
     background-color:  #f0ededfd;
     margin-top: 10px;
     max-width: 150px;
     border-radius: 5px;
     
}
.sidebar-item.active{
     background-color: #9e9e9e99;
}
.sidebar-items{
     justify-content: flex-start;
     width: 100%;
}
span.sidebar-text{
     font-size: 13px;
     text-align: center;
     padding-left: 20px;
     font-weight:600;
}